.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  object-fit: contain;
}

.login__container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 3px solid black;
}

.login__container > h1 {
  font-weight: 500;
  color: beige;
  align-self: center;
  margin-bottom: 20px;
}
.login__container > form > h5 {
  margin-bottom: 5px;
  color: beige;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
  color: beige;
  margin-bottom: 10px;
}

.login__signInButton {
  background: #f0c14b;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734, #9c7e31, #846a29;
}
